.logo__dark {
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/dist/images/logos/imagem_sobre.jpg) ; opacity: 0.9;
    padding-bottom: 20vw;
    position: relative;
    width: 100vw;
    height: 60vh;

    &__item {
        width: 100%;
        opacity: 0;
        transform: scale(1);
        transition: all 5s ease-in-out;
        object-fit: cover;
        max-width: 1000px;
    }
}

.logo__dark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.9;
    z-index: -1;
}

@media (max-width: 600px) {
    .logo__dark {
        &__item {
            max-width: 300px;
            
        }
    }
}

.logo__dark {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/dist/images/logos/imagem_sobre.jpg);
    opacity: 0.9;
    padding-bottom: 20vw;
    position: relative;
    width: 100vw;
    height: 60vh;

    &__item {
        width: 100%;
        opacity: 0;
        transform: scale(1);
        transition: all 5s ease-in-out;
        object-fit: cover;
        max-width: 1000px;
    }
}

.logo__dark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.9;
    z-index: -1;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .logo__dark {
        height: 40vh; /* Ajusta a altura para uma proporção adequada */
        padding-bottom: 0;
    }

    .logo__dark__item {
        max-width: 400px; /* Reduz a largura máxima para encaixar melhor em telas menores */
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .logo__dark {
        height: 50vh; /* Ajusta a altura para uma proporção adequada */
        padding-bottom: 0;
    }

    .logo__dark__item {
        max-width: 600px; /* Reduz a largura máxima para encaixar melhor em tablets */
    }
}